<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diamond Imóveis</title>
    <link rel="stylesheet" href="styles/estiloAnunciar.css">
    <script src="styles/scriptAnunciar.js"></script>
    
</head>
<body>
    <%- include('./components/header/header'); %>
    <section>
        <div id="cadPropri">
            <h2><strong>Cadastre sua propriedade</strong></h2>
            <p>Insira as informações do imovel:</p>

            <p><strong>Numero de quartos:</strong></p>
            <p><input name="quartos" type="number"></p>

            <p><strong>Numero vagas na garagem:</strong></p>
            <p><input name="vagas" type="number"></p>

            <p><strong>Numero de comodos:</strong></p>
            <p><input name="comodos" type="number"></p>

            <p><strong>Numero de banheiros:</strong></p>
            <p><input name="banheiros" type="number"></p>

            <p><strong>Metros quadrados:</strong></p>
            <p><input name="metros" type="number"></p>

            <p><strong>CEP:</strong></p>
            <p><input name="cep" type="text"></p>

            <input name="cadastrarP" type="button" value="Finalizar Cadastro" id="CadastroP" onclick="cadastroConcluido()"/>

        </div>
    </section>
    <%- include('./components/footer/footer'); %>
</body>
</html>