<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comprar</title>
    <link rel="stylesheet" href="styles/estiloAlugar.css">
    <script src="styles/scriptAlugar.js"></script>
</head>
<body>
    <%- include('./components/header/header'); %>
    <section>
        <h2>Imóveis disponíveis para Comprar:</h2> 
        <label for="Estado">Selecione o estado:</label>
        <select name="Estado" id="Estado">
            <option value="todos">Todos</option>
            <option value="saoPaulo">São Paulo</option>
            <option value="rioDeJaneiro">Rio de Janeiro</option>
        </select>
    </section>
    
    <section>
        <div class="stand1" >
            <p></p>
        </div>

        <div class="stand1" >
            <p></p>
        </div>

        <div class="stand1" >
            <p></p>
        </div>

        <div class="stand1" >
            <p></p>
        </div>

        <div class="stand1" >
            <p></p>
        </div>

        <div class="stand1" >
            <p></p>
        </div>

        <div class="stand1" >
            <p></p>
        </div>

        <div class="stand1" >
            <p></p>
        </div>
    </section>
    <%- include('./components/footer/footer'); %>
</body>
</html>