<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diamond Imóveis</title>
    <link rel="stylesheet" href="styles/estiloLogin.css">
    <script src="styles/scriptLogin.js"></script>

</head>
<body>
    <%- include('./components/header/header'); %>
    <%if (erros != undefined) { %>
        <% for(var i = 0; i < erros.length; i++) { %>
            <li><%= erros[i] %></li>
          <% } %>
    <% } %>

    <form action="/login" method="post" id="clogin">
        <div>
            <h2>Login</h2>
            <p id="desc">Se você já tever uma conta cadastrada, acesse abaixo com seu E-mail e senha. </p>

            <p id="cemail"><strong>E-mail:</strong></p>
            <input name="email" type="email">

            <p id="csenha"><strong>Senha:</strong></p>
            <input name="senha" type="password">

            <p id="check">
                <input type="checkbox"><strong>Permanecer logado</strong>
            </p>
            <button name="entrar" type="submit" value="Entrar" id="b-entrar" onclick="">
                Entrar
            </button>
        </div>
    </form>
    <form action="/login" method="post" id="Cadastro">
        <div>
            <h2>Cadastrar-se</h2>
            <p id="desc">Crie uma nova conta e aproveite o site.</p>

            <p id="cemail"><strong>E-mail:</strong></p>
            <input name="email" type="email">


            <p id="cusuario"><strong>Primeiro nome:</strong></p>
            <input type="text"  name="first_name">

            <p id="cusuario"><strong>Ultimo nome:</strong></p>
            <input type="text"  name="last_name">
            <p id="csenha"><strong>Senha:</strong></p>
            <input type="password" name="password">

            <p id="csenha"><strong>Confirme sua senha Senha:</strong></p>
            <input type="password" name="password_confirm">
            <p id="cCPF"><strong>CPF:</strong></p>
            <input type="text" name="cpf" ><br>
            
            <br><button name="cadastrar" type="submit" value="Criar conta" id="b-entrar">
                Criar conta
            </button>
        </div>
<<<<<<< HEAD:modelol/views/login.ejs
    </section>
=======
    </form>
    
    <footer>
        <p style="
            margin-top: 10px;
            margin-bottom: 10px;
        ">©Diamond Imoveis</p>
    </footer>
>>>>>>> e7a07c4048be5a05eba14c10504b1aae88214e8c:views/login.ejs

    <%- include('./components/footer/footer'); %>
</body>
</html>