
    <header>
        <h1 class="titulo"><a href="/">Diamond Imóveis</a></h1>
        <a class="menu" href="/anunciar">Anunciar </a>
        <a class="menu" href="/alugar">Imóveis para Alugar </a>
        <a class="menu" href="/comprar">Imóveis para Comprar </a>
        <a class="menu" href="/login">Entrar ou criar conta </a>
    </header>