{{#if success_msg}}
<div class="message-success">
    <span>
        {{success_msg}}
    </span>
    <br/>
</div>
{{/if}}
{{#if error_message}}
<div class="message-erro">
    <span>
        {{error_msg}}
    </span>
    <br/>
</div>
{{/if}}