<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/estilo.css">
    <link rel="stylesheet" href="/styles/estiloLogin.css">
    <link rel="stylesheet" href="/styles/estiloAlugar.css">
    <link rel="stylesheet" href="/styles/estiloanunciar.css">
    <link rel="stylesheet" href="/styles/estiloDetalhes.css">
    <link rel="stylesheet" href="/styles/edit.css">

    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="/public/slick.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/public/slick.css"/>
    <link rel="stylesheet" type="text/css" href="/public/slick-theme.css"/>
    <script src="/styles/scriptLogin.js"></script>

    <title>Diamond</title>
</head>
<body>
    {{>_header}}
    <div class="main">
    {{>_msg}}
    {{{body}}}
    </div>
</body>
</html>