<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://localhost:3000/styles/estilo.css">
    <link rel="stylesheet" href="http://localhost:3000/styles/estiloLogin.css">
    <link rel="stylesheet" href="http://localhost:3000/styles/estiloAlugar.css">
    <link rel="stylesheet" href="http://localhost:3000/styles/estiloanunciar.css">
    <link rel="stylesheet" href="http://localhost:3000/styles/estiloDetalhes.css">

    <script src="http://localhost:3000/styles/scriptLogin.js"></script>

    <title>Diamond</title>
</head>
<body>
    {{>_header}}
    <div class="main">
    {{>_msg}}
    {{{body}}}
    </div>
</body>
</html>