<section>
        <a href="/imovel/{{entity_id}}">
            <div class="img">
                
            </div>

            <div class="infos">
                <p><strong>{{property.name}}</strong></p>
                <p><strong>Valor: </strong>R${{property.price}}/mês</p>
                <p><strong>Tipo de anuncio: </strong><span style="text-transform: capitalize;">{{property.type_property}}</span></p>
                <p><strong>-----LOCALIZAÇÃO-----</strong></p>
                <p><strong>CEP: </strong>09330756</p>
                <p><strong>Rua: </strong>Aleatoria junior</p>
                <p><strong>Bairro: </strong>Liberdade</p>
                <p><strong>Estado: </strong>São paulo</p>
                <p><strong>-----GERAL-----</strong></p>
                <p><strong>N° quartos: </strong>2</p>
                <p><strong>N° banheiros: </strong>1</p>
                <p><strong>N° vagas garagem:</strong> 2</p>
                <p><strong>Descrição:</strong> Casa localizada na liberdade proxima ao shopping.</p>
            </div>

            <div class="tel">
                <p><strong>Forma de contato</strong></p>
                <p><strong>Tel: </strong> (+55) 11942393452</p>
            </div>
        </a>
    </section>