{{#if erros}}
    <div class="message-erro">
    {{#each erros}}
    <span class="">
        {{message}}
    </span>
    <br/>
    {{else}}
    {{/each}}
    </div>
{{/if}}
    <form action="/login/auth" method="post" id="clogin">
        <div>
            <h2 class="h">Login</h2>
            <p class="desc">Se você já tever uma conta cadastrada, acesse abaixo com seu E-mail e senha. </p>

            <p class="cemail"><strong>E-mail:</strong></p>
            <input name="email" type="email">

            <p class="csenha"><strong>Senha:</strong></p>
            <input name="password" type="password">

            <p class="check">
                <input type="checkbox"><strong>Permanecer logado</strong>
            </p>
            <button name="entrar" type="submit" value="Entrar" class="b-entrar" onclick="">
                Entrar
            </button>
        </div>
    </form>
    <form action="/login" method="post" id="Cadastro">
        <div>
            <h2 class="h">Cadastrar-se</h2>
            <p class="desc">Crie uma nova conta e aproveite o site.</p>

            <p class="cemail"><strong>E-mail:</strong></p>
            <input name="email" type="email">


            <p class="cusuario"><strong>Primeiro nome:</strong></p>
            <input type="text"  name="first_name">

            <p class="cusuario"><strong>Ultimo nome:</strong></p>
            <input type="text"  name="last_name">
            
            <p class="csenha"><strong>Senha:</strong></p>
            <input type="password" name="password">

            <p class="csenha"><strong>Confirme sua senha:</strong></p>
            <input type="password" name="password_confirm">

            <p class="cCPF"><strong>CPF:</strong></p>
            <input oninput="mascara(this)" type="text" name="cpf"><br>
            
            <br><button name="cadastrar" type="submit" value="Criar conta" class="b-entrar">
                Criar conta
            </button>
        </div>
    </form>