<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diamond Imóveis</title>
    <link rel="stylesheet" href="styles/estiloLogin.css">
    <script src="styles/scriptLogin.js"></script>

</head>
<body>
    <%- include('./components/header/header'); %>

    
    <section id="clogin">
        <div>
            <h2>Login</h2>
            <p id="desc">Se você já tever uma conta cadastrada, acesse abaixo com seu E-mail e senha. </p><br>

            <p id="cemail"><strong>E-mail:</strong></p>
            <input name="email" type="email">

            <p id="csenha"><strong>Senha:</strong></p>
            <input name="senha" type="password">

            <p id="check">
                <input type="checkbox"><strong>Permanecer logado</strong>
            </p>
            <input name="entrar" type="button" value="Entrar" id="b-entrar" onclick=""/>
        </div>
    </section>

    <section id="Cadastro">
        <div>
            <h2>Cadastrar-se</h2>
            <p id="desc">Crie uma nova conta e aproveite o site.</p><br>

            <p id="cemail"><strong>E-mail:</strong></p>
            <input name="CriarEmail" type="email">

            <p id="csenha"><strong>Senha:</strong></p>
            <input name="CriarSenha" type="password">

            <p id="cusuario"><strong>Nome de Usuário:</strong></p>
            <input type="text"  name="CriarUsuario">

            <p id="cCPF"><strong>CPF:</strong></p>
            <input type="text" name="cpf" ><br>
            
            <br><input name="cadastrar" type="button" value="Criar conta" id="b-entrar" onclick=""/>
        </div>
    </section>
    
    <footer>
        <p style="
            margin-top: 10px;
            margin-bottom: 10px;
        ">©Diamond Imoveis</p>
    </footer>

</body>
</html>