
    <div>
        <div class="imgI">
            <img src="styles/imagens/home6.jpg" width="100.5%" height="100%" style="    border-radius: 10px 10px 10px 10px;">
        </div>
            
        <div class="proc">
            <h2>Aqui você encontra o que precisa</h2>
            <p>Você deseja:</p>
            <input name="comprar" type="button" value="Comprar" onclick="pagComprar()" class="botaoi"/> 
            <input name="alugar" type="button" value="Alugar" onclick="pagAlugar()" class="botaoi"/></p>
              
        </div>
    </div>

    <section class="exibição">
        <div>
            <div>
                <h3>Imóveis em destaque:</h3>
                <p class="descr">Aproveite as oportunidades abaixo e encontre seu lar ideal!</p>
             </div>
            
            <div class="stand11">
                <img src="styles/imagens/home5.jpg" width="260px" height="200px" class="imgS">
                <p>R$1.360.000<br><br>
                Rua aleatoria santos</p>
            </div>
    
            <div class="stand2">
                <img src="styles/imagens/home3.jpg" width="260px" height="200px" class="imgS2">
                <p>R$1.500.000<br><br>
                Rua aleatoria Junior</p>
            </div>

            <div class="stand3">
                <img src="styles/imagens/home.jpg" width="260px" height="200px" class="imgS3">
                <p>R$1.800.000<br><br>
                Rua aleatoria santos Junior</p>
            </div>
                <input type="button" value="Ver mais Propriedades" class="maisAp" onclick="pagComprar()">
        </div>
    </section>
    <div>
        <div>
            <img src="styles/imagens/contrac.jpg" width="1100px" height="400px" class="contract" >
            <h4>Ajudamos a vender<br> o seu apartamento</h4>
           
        </div>
    </div>

    <div id="bairros">
        <div>
            <h5>Os bairros populares de cada estado:</h5>
                <div id="sp">
                    <p>São Paulo:</p>
                    <button>Jardim America</button>
                    <button>Higienopolis</button>
                    <button>Vila Olimpia</button><br>
                    <button>Vila Nova Conceição</button>
                    <button>Vila Madalena</button>
                    <button>Liberdade</button>
                    <button>Penha</button>      
                </div>
        </div>

        <div id="Rio">
            <p>Rio de Janeiro:</p>
            <button>Ipanema</button>
            <button>Jacarepaguá</button>
            <button>Copacabana</button>
            <button>Leblon</button>
            <button>Tijuca</button>
            <button>Lagoa</button>
            <button>Gávea</button>
        </div>

    </div>