
    <header>
        <h1 id="titulo"><a href="/">Diamond Imóveis</a></h1>
        <input name="anuncio" type="button" value="Anunciar" id="venda" onclick="pagCadastroPropri()"/>
        <input name="login" type="button" value="Entrar ou Criar conta" id="entrar" onclick="pagloginCadastro()"/>
        <input name="alugar" type="button" value="Imoveis para Alugar" id="alugar" onclick="pagAlugar()"/>
        <input name="comprar" type="button" value="Imoveis para Comprar" id="comprar" onclick="pagloginCadastro()"/>
    </header>