
    <header>
        
        <h1 id="titulo"><a href="/">Diamond Im칩veis</a></h1>
        <a class="menu" href="/anunciar">Anunciar </a>
        <a class="menu" href="/alugar">Im칩veis para Alugar </a>
        <a class="menu" href="/comprar">Im칩veis para Comprar </a>
        
        {{#if user}}
        <span class="user-name">Ol치 {{ user.first_name }} !</span>
        {{else}}
        <a class="menu" href="/login">Entrar ou criar conta </a>
        {{/if}}
    </header>