body{
    background-color: rgba(0, 0, 0, 0.10);
    font: normal 15pt;
    font-family: system-ui;
}

h1 a {
    font-size: 40px;
}

.menu{
    color: #f87a04;
    text-align: center;
    padding: 7px 10px;
    text-decoration: none;
    float: right;
    font-size: 16px;
}

.message-success {
    background: #33ff3363;
    color: #000;
    margin: 10px 0;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 16px;  
}


.product-view .slick-slider .slick-prev, .slick-next {
    height: 413px !important;
    background: #f87a04 !important;
  }
.dropdown {
    transition: all 0.2s ease-in-out;
    overflow: hidden;
    width: fit-content;
    cursor: pointer;
    float: right;
  }
  .icon {
    display: flex;
    justify-content: space-between;
    padding: 0 25px 0 10px;
  }
  .menu-ul {
    position: absolute;
    background: white;
    list-style: none;
    margin: 50px 0;
    padding: 0 17px;
    border: 1px solid;
  }
  .menu-ul li {
    font-size: 24px;
    text-transform: uppercase;
    padding: 14px 10px;
    border-top: solid 1px rgb(202, 202, 202);    
  }
  .menu-ul a {
        font-size: 14px;
  }

  .product-view .slick-initialized .slick-slide {
    max-height: 416px;
    object-fit: contain;
  }

  .dropdown.closed .menu-ul {
    height: 0px;
    display: none;
  }
  .dropdown.closed .icon span {
    transform: rotate(180deg);
  }
.user-name {
    padding: 7px 10px;
    text-decoration: none;
    float: right;
    font-size: 16px;
    color: white;
}

.message-erro {
    background: #ff4747;
    color: #fff;
    margin: 10px 0;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 16px;    
}

.menu:hover {
    background: #f87a04;
    color: black;
}

header{
    height: 35px;
    border-bottom: 1px rgb(0, 0, 0) solid;
    padding: 15px 4px;
    margin-top: 2px;
    box-shadow: 0px 4px 8px rgb(0 0 0 / 45%);    
    background: #28292a;
}

body .main{
    max-width: 1240px;
    margin: auto;
}

body {
    margin: 0;
}

.imgI{
    height: 500px;
   border: 1px rgb(14, 13, 13) solid;
    border-radius: 10px;
}

.titulo{
    padding-top: 5px;
    font-family: Garamond, serif;
    color: #f87a04;
    margin-top: 0px;
    position: absolute;
    width: 400px;
    top: 0px
}
a{
    color: #f87a04;
    text-decoration: none;
}

.menu{
    color: #f87a04;
    text-align: center;
    padding: 7px 10px;
    text-decoration: none;
    float: right;
    
}

#comprar{
    border-radius: 10px;
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    float: right;
    margin-top: 1px; 
}

#alugar{
    border-radius: 10px;
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    text-align: center;
    font-size: 16px;
    cursor: pointer; 
    float: right;
}

#venda{
    border-radius: 10px;
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    float: right;  
}

#entrar{
    border-radius: 10px;
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    text-align: center;
    font-size: 16px;
    cursor: pointer; 
    float: right; 
}



.botaoi{
  background-color: #f87a04; 
  border-radius: 10px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  margin-left: 50px;
}

.proc{
    background: white;
    border-radius: 10px;
    padding: 10px;
    
    margin-left: 800px;
    position:absolute;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.466);
    bottom: 230px;
}

h3{
    text-align: center;
    font-size: 20pt;
    margin-bottom: 5px;
}

.descr{
    text-align: center;
    font-size: 12pt;
    margin-bottom: 8px;
    
}

h3{
    text-align: center;
}

.exibição{
    text-align: center;
    background: white;
    border-radius: 10px;
    padding: 10px;
    width: 1080px;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.466);
}

.stand11{
    border: 1px rgb(204, 199, 199) solid;
    border-radius: 10px;
    width: 263px;
    margin-left: 80px;
    position: absolute;
    background-color: aliceblue;
    cursor: pointer; 
}

.stand1:hover{
    box-shadow: 0 0 15px rgba(33, 33, 33, 0.342); 
}


.imgS{
    border-radius: 10px 10px 0px 0px;
    padding-right: 2px;
    padding-top: 0px;
    padding-left: 0px;
    width: 263px;
    
}

.stand2{
    border: 1px rgb(204, 199, 199) solid;
    border-radius: 10px;
    width: 263px;
    padding-right: 0px;
    padding-top: 0px;
    padding-left: 0px;
    margin-left: 410px;
    position: absolute;
    background-color: aliceblue;
    cursor: pointer; 
}

.stand2:hover{
    box-shadow: 0 0 15px rgba(33, 33, 33, 0.342); 
}

.imgS2{
    border-radius: 10px 10px 0px 0px;
    padding-right: 2px;
    padding-top: 0px;
    padding-left: 0px;
    width: 263px;
    
}

.stand3{
    border: 1px rgb(204, 199, 199) solid;
    border-radius: 10px;
    width: 263px;
    padding-right: 0px;
    padding-top: 0px;
    padding-left: 0px;
    margin-left: 735px;
    background-color: aliceblue;
    cursor: pointer; 
}

.stand3:hover{
    box-shadow: 0 0 15px rgba(33, 33, 33, 0.342); 
}

.imgS3{
    border-radius: 10px 10px 0px 0px;
    padding-right: 2px;
    padding-top: 0px;
    padding-left: 0px;
    width: 263px;
    
}

.maisAp{
    background-color: #f87a04; 
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

.contract{
    margin-left: 72px;
    margin-top: 20px;
    border-radius: 10px 10px 10px 10px;
    position: absolute;
}

.avaliação{
    background-color: #f87a04; 
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    margin-left: 193px; 
    position: absolute;
    top: 1380px;
    
}

h4{
    position: absolute;
    top: 1250px;
    left: 190px;
    color: #f87a04;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: rgb(241, 241, 241);
    font-size: 25px;
}

h5{
    text-align: center;
    font-size:25px ;
}
#bairros{
    margin-top: 455px;
}

#sp{
    position: absolute;
}

#Rio{
    margin-left: 880px;
    margin-top: 60px;
}

button{
    background-color: #f87a04; 
    border-radius: 10px;
    color: white;
    text-align: center;
    font-size: 16px;
}

footer{
    text-align: center;
    border-top: 1px rgb(0, 0, 0) solid;
    margin-top: 30px;
    
}