


.titulo{
    padding-top: 5px;
    font-family: Garamond, serif;
    color: #f87a04;
    margin-top: 0px;
    position: absolute;
    width: 400px;
    top: 0px
}

a{
    color: #f87a04;
    text-decoration: none;
}

#comprar{
    border-radius: 10px;
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    float: right;
    margin-top: 1px; 
}

#alugar{
    border-radius: 10px;
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    text-align: center;
    font-size: 16px;
    cursor: pointer; 
    float: right;
}

#venda{
    border-radius: 10px;
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    float: right;
}

#entrar{
    border-radius: 10px;
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    text-align: center;
    font-size: 16px;
    cursor: pointer; 
    float: right;
}

.titul{
    font-size: 28px;
    text-align: center;
    margin-left: 450px;
    color: #f87a04;
    
}

.stand1{
    border: 1px rgb(14, 13, 13) solid;
    border-radius: 10px;
    height: 260px;
    width: 700px;
    margin-top: 30px;
    margin-left: 285px;
    background-color: aliceblue;
    display: block;
    cursor: pointer;
}

.information{
    margin-left: 80px;
    margin-top: 20px;
}

.stand1 img {
    width: auto;
    max-width: 260px;
}

.stand1{
    border-left: 6px solid #f87a04;
    display: flex;
    
}
.stand1:hover{
    box-shadow: 0 0 15px rgba(20, 20, 20, 0.521); 
}

footer{
    text-align: center;
    border-top: 1px #f87a04 solid;
    margin-top: 85px;
    float:left ;
    width:1300px;
    
}
