.txtbox, select, textarea{
    width: 300px;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

#titulo{
    padding-top: 5px;
    font-family: Garamond, serif;
    color: #f87a04;
    margin-top: 0px;
    position: absolute;
    width: 400px;
    top: 0px
}

a{
    color: #f87a04;
    text-decoration: none;
}

#comprar{
    border-radius: 10px;
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    float: right;
    margin-top: 1px; 
}

#alugar{
    border-radius: 10px;
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    text-align: center;
    font-size: 16px;
    cursor: pointer; 
    float: right;
}

#venda{
    border-radius: 10px;
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    float: right;
}

#entrar{
    border-radius: 10px;
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    text-align: center;
    font-size: 16px;
    cursor: pointer; 
    float: right;
}

#clogin{
    text-align: center;
    margin-top: 60px;
    margin-left: 80px;
    position: absolute;
    background: white;
    border-radius: 10px;
    padding: 10px;
    width: 350px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.466);
}

#Cadastro{
    text-align: center;
    margin-left: 30px;
    float: right;
    margin-top: 60px;
    margin-right: 80px;
    background: white;
    border-radius: 10px;
    padding: 10px;
    width: 350px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.466);
}

.h{
    border-bottom: 1px black solid;
    width: 350px;
    margin-bottom: 0px;
    margin-top: 7px;
    font-family: Garamond, serif;
}

.desc{
    font-size: 18px;
    margin-bottom: 0px;
    margin-top: 5px;
    font-family: Garamond, serif;
}

.cemail{
    margin-bottom: 5px;
    margin-top: 5px;
}

.csenha{
    margin-bottom: 5px;
    margin-top: 5px;
}

.check{
    font-size: 15px;
}

.cusuario{
    margin-bottom: 5px;
    margin-top: 5px;
}

.cCPF{
    margin-bottom: 5px;
    margin-top: 5px;
}

.b-entrar{
    width: 100px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    text-align: center;
    font-size: 16px;
    margin-top: 1px;
    background-color: #f87a04; 
}

footer{
    text-align: center;
    border-top: 1px rgb(0, 0, 0) solid;
    margin-top: 565px;
    height: 20px;
}